@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-text: 'Montserrat', sans-serif;
$color-text: hsl(228, 12%, 48%);

body {
  font: 100% $font-text;
  color: $color-text;
}