@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

$color-background: hsl(30, 38%, 92%);
$color-text: hsl(228, 12%, 48%);
$color-title: hsl(212, 21%, 14%);
$color-link: hsl(158, 36%, 37%);
$color-button: hsl(0, 0%, 100%);
$color-background-card: hsl(0, 0%, 100%);
$color-background-button: hsl(158, 36%, 37%);
$font-text: 'Montserrat', sans-serif;
$font-title: 'Fraunces', sans-serif;
$font-weight-bold: 700;
$font-weight-light: 500;
$align-text: center;
$border-radius: 1em;
$padding-small: 0.5em;
$padding-medium: 1em;
$padding-large: 1.5em;

body {
  background: $color-background;
  font: 100% $font-text;
  font-weight:$font-weight-light;
  color: $color-text;
}

.card {
  background: $color-background-card;
  border-radius: $border-radius
}

img {
  width: 100%;
  height: 100%;
}

.card-img {
  border-top-left-radius: $border-radius;
}

.category {
  margin: 0%;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.card-title {
  font: 100% $font-title;
  font-weight:$font-weight-bold;
  font-size: 2em;
  color: $color-title;
}

.card-text {
  line-height: 1.5em;
  font-size: 1em;
}

.discountprice {
  font: 100% $font-title;
  color: $color-link;
  font-weight: $font-weight-bold;
  font-size: 2em;
  margin-block: 0.5em;
  display: flex;
  align-items: center;
}

.price {
  font: 70% $font-text;
  color: $color-text;
  text-decoration: line-through;
  font-weight: $font-weight-light;
  font-size: 0.5em;
  padding-left: $padding-large;
}

button {
  font: 70% $font-text;
  font-weight:$font-weight-bold;
  font-size: 1em;
  background-color: $color-background-button;
  color: $color-button;
  width: 100%;
  border: none;
  padding-block: $padding-medium;
  border-radius:  1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:active {
  background-color: hsl(159, 37%, 18%);
  cursor:pointer;
}

.button-img {
  padding-right: $padding-medium;
  width: 1em;
}

.attribution {
  font: 70% $font-text;
  text-align: $align-text;
}

.attribution a {
  color: $color-link;
}

@media (orientation: portrait) {
body {
  padding-block: $padding-medium;
  padding-inline: $padding-small;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-img {
  border-top-right-radius: $border-radius;
}

.product-description {
  padding-block: $padding-medium;
  padding-inline: $padding-large;
}
}

@media (orientation: landscape) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: $padding-medium;
    padding-inline: $padding-small;
  }

  .card {
    display: flex;
    flex-direction: row;
    width: 90%;
  }

  .card-img {
    border-top-right-radius: 0em;
    border-bottom-left-radius: $border-radius;
  }

  .img-container {
    width:50%;
  }

  .product-description {
    width:50%;
    padding-block: $padding-medium;
    padding-inline: $padding-large;
  }
}

@media (min-width: 48em) and (orientation: landscape) {
  body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 80%;
    display: flex;
    flex-direction: row;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .card-img {
    border-top-right-radius: 0em;
    border-bottom-left-radius: $border-radius;
  }

  .img-container {
    width:50%;
  }

  .product-description {
    width:50%;
  }
}

@media (min-width: 62em) and (orientation: landscape) {
  body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 60%;
    display: flex;
    flex-direction: row;
  }

  .card-img {
    border-top-right-radius: 0em;
    border-bottom-left-radius: $border-radius;
  }

  .img-container {
    width:50%;
  }

  .product-description {
    width:50%;
  }
}

@media (min-width: 75em) and (orientation: landscape) {
  body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 60%;
    display: flex;
    flex-direction: row;
  }

  .card-img {
    border-top-right-radius: 0em;
    border-bottom-left-radius: $border-radius;
  }

  .img-container {
    width:50%;
  }

  .product-description {
    width:50%;
  }
}

@media (min-width: 90em) {
  body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 50%;
    display: flex;
    flex-direction: row;
  }

  .card-img {
    border-top-right-radius: 0em;
    border-bottom-left-radius: $border-radius;
  }

  .img-container {
    width:50%;
  }

  .product-description {
    width:50%;
  }

  .card-title {
    font-size: 2.5em;
  }

  .card-text {
    line-height: 1.5em;
    font-size: 1.3em;
  }

  .discountprice {
    font-size: 2.5em;
  }

  .price {
    font-size: 0.6em;
  }

  button {
    font-size: 1.2em;
  }
  
  .button-img {
    width: 1.1em;
  }
}

@media (min-width: 160em) {
  body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 40%;
    display: flex;
    flex-direction: row;
  }

  .card-img {
    border-top-right-radius: 0em;
    border-bottom-left-radius: $border-radius;
  }

  .img-container {
    width:50%;
  }

  .product-description {
    width:50%;
  }

  .card-title {
    font-size: 3.7em;
  }

  .card-text {
    line-height: 1.5em;
    font-size: 1.7em;
  }

  .discountprice {
    font-size: 3em;
  }

  .price {
    font-size: 0.6em;
  }

  button {
    font-size: 1.3em;
  }
  
  .button-img {
    width: 1.2em;
  }
}