@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
body {
  background: hsl(30, 38%, 92%);
  font: 100% "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

.card {
  background: hsl(0, 0%, 100%);
  border-radius: 1em;
}

img {
  width: 100%;
  height: 100%;
}

.card-img {
  border-top-left-radius: 1em;
}

.category {
  margin: 0%;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.card-title {
  font: 100% "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: hsl(212, 21%, 14%);
}

.card-text {
  line-height: 1.5em;
  font-size: 1em;
}

.discountprice {
  font: 100% "Fraunces", sans-serif;
  color: hsl(158, 36%, 37%);
  font-weight: 700;
  font-size: 2em;
  margin-block: 0.5em;
  display: flex;
  align-items: center;
}

.price {
  font: 70% "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-weight: 500;
  font-size: 0.5em;
  padding-left: 1.5em;
}

button {
  font: 70% "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1em;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  border: none;
  padding-block: 1em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:active {
  background-color: hsl(159, 37%, 18%);
  cursor: pointer;
}

.button-img {
  padding-right: 1em;
  width: 1em;
}

.attribution {
  font: 70% "Montserrat", sans-serif;
  text-align: center;
}

.attribution a {
  color: hsl(158, 36%, 37%);
}

@media (orientation: portrait) {
  body {
    padding-block: 1em;
    padding-inline: 0.5em;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .card-img {
    border-top-right-radius: 1em;
  }
  .product-description {
    padding-block: 1em;
    padding-inline: 1.5em;
  }
}
@media (orientation: landscape) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1em;
    padding-inline: 0.5em;
  }
  .card {
    display: flex;
    flex-direction: row;
    width: 90%;
  }
  .card-img {
    border-top-right-radius: 0em;
    border-bottom-left-radius: 1em;
  }
  .img-container {
    width: 50%;
  }
  .product-description {
    width: 50%;
    padding-block: 1em;
    padding-inline: 1.5em;
  }
}
@media (min-width: 48em) and (orientation: landscape) {
  body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 80%;
    display: flex;
    flex-direction: row;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .card-img {
    border-top-right-radius: 0em;
    border-bottom-left-radius: 1em;
  }
  .img-container {
    width: 50%;
  }
  .product-description {
    width: 50%;
  }
}
@media (min-width: 62em) and (orientation: landscape) {
  body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 60%;
    display: flex;
    flex-direction: row;
  }
  .card-img {
    border-top-right-radius: 0em;
    border-bottom-left-radius: 1em;
  }
  .img-container {
    width: 50%;
  }
  .product-description {
    width: 50%;
  }
}
@media (min-width: 75em) and (orientation: landscape) {
  body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 60%;
    display: flex;
    flex-direction: row;
  }
  .card-img {
    border-top-right-radius: 0em;
    border-bottom-left-radius: 1em;
  }
  .img-container {
    width: 50%;
  }
  .product-description {
    width: 50%;
  }
}
@media (min-width: 90em) {
  body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 50%;
    display: flex;
    flex-direction: row;
  }
  .card-img {
    border-top-right-radius: 0em;
    border-bottom-left-radius: 1em;
  }
  .img-container {
    width: 50%;
  }
  .product-description {
    width: 50%;
  }
  .card-title {
    font-size: 2.5em;
  }
  .card-text {
    line-height: 1.5em;
    font-size: 1.3em;
  }
  .discountprice {
    font-size: 2.5em;
  }
  .price {
    font-size: 0.6em;
  }
  button {
    font-size: 1.2em;
  }
  .button-img {
    width: 1.1em;
  }
}
@media (min-width: 160em) {
  body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 40%;
    display: flex;
    flex-direction: row;
  }
  .card-img {
    border-top-right-radius: 0em;
    border-bottom-left-radius: 1em;
  }
  .img-container {
    width: 50%;
  }
  .product-description {
    width: 50%;
  }
  .card-title {
    font-size: 3.7em;
  }
  .card-text {
    line-height: 1.5em;
    font-size: 1.7em;
  }
  .discountprice {
    font-size: 3em;
  }
  .price {
    font-size: 0.6em;
  }
  button {
    font-size: 1.3em;
  }
  .button-img {
    width: 1.2em;
  }
}/*# sourceMappingURL=index.css.map */